@charset "UTF-8";

// Imports and variables
@import 'variables';
@import 'helpers';
@import 'range';

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'OCR-A';
  src: url('../fonts/OCRAStd.eot');
  src: local('OCR-A'), url('../fonts/OCRAStd.woff') format('woff'), url('../fonts/OCRAStd.ttf') format('truetype'), url('../fonts/OCRAStd.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html{
  font-family: "OCR-A", monospace, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 100vh;
  color: $color-primary;
  text-align: center;
  background: white;
}

html, body, form, button, input{
  font-family: "OCR-A", monospace, sans-serif;
}


body{
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  overflow-y:hidden;
}

.container{
  width: 100%;
  max-width: 768px;
  padding: 30px 10px;
  margin: 0 auto;
  @media($desktop){
    padding: 90px 20px;
  }
}

::selection {
  background: $color-primary;
  color: white;
}

img{ max-width: 100%; }

.logo{
  display: block;
  margin: 0 auto 30px auto;
}

.input{
  width: 100%;
  font-size: 14px;
  border: 1px solid $color-primary;
  color: $color-secondary;
  letter-spacing: -0.13px;
  padding: 10px;
  margin-bottom: 21px;

  @media($desktop){
    font-size: 20px;
  }

  &:focus{
    border-color: $color-secondary;
    outline: none;
  }

  &::selection {
    background: $color-primary;
    color: white;
  }
}

.btn-generate{
  background: #393939;
  cursor: pointer;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  letter-spacing: -0.12px;
  border: none;
  width: 100%;
  padding: 13px 0;
  outline: none;
  &:active{
    background: lighten(#393939, 10%);
  }
}

.panel-options{
  position: absolute;
  height: 200px;
  width: 100%;
  bottom: 0;
  transform: translateY(200px - 54px);
  left: 0;
  z-index: 10;
  transition: 200ms;
  background: white;
  text-align: left;


  &.active{
    transform: translateY(0);
    .btn-options{
      background-image: url(../img/icon-minus.svg);
    }
  }

  @media($desktop){
    width: 400px;
    left: auto;
    right: 30px;
    border: 1px solid $color-primary;
  }

  .btn-options{
    cursor: pointer;
    outline: none;
    height: 54px;
    background: $color-primary;
    color: White;
    font-size: 18px;
    border: none;
    width: 100%;
    background-image: url(../img/icon-plus.svg);
    background-repeat: no-repeat;
    background-position: center right 20px;
  }

  .panel-body{
    padding: 30px 20px;
  }

}

.option{
  margin-bottom: 25px;
}

.btn-modal{
  @extend %hide-text;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  width: 32px;
  height: 32px;
  z-index: 15;
  background-image: url(../img/btn-about.svg);
  background-color: transparent;
  cursor: pointer;
  transition: 200ms;
  outline: none;

  @media ($desktop){
    top: 30px;
    right: 30px;
  }

  .modal--active &{
    background-image: url(../img/btn-close.svg);
  }

  &:hover{
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 200ms;
  }
  &:active{
    transform: scale3d(1.2, 1.2, 1.2);
    transition: 0ms;
  }
}

.modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  background: #393939;
  color: white;
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  letter-spacing: 2.3px;
  line-height: 17px;
  text-align: left;
  transform: scale3d(1.5, 1.5, 1.5);
  transition: 300ms;

  @media ($desktop) {
    font-size: 16px;
    letter-spacing: 2.63px;
    line-height: 19px;
  }
  a{
    color: white;
  }

  .modal--active &{
    opacity: 1;
    pointer-events: all;
    transform: scale3d(1, 1, 1);
    transition: 300ms;
  }

  &__body{
    margin: 0 auto;
    max-width: 430px;
  }

  &__title{
    text-align: center;
    font-size: 36px;
    letter-spacing: 8.62px;
    margin-bottom: 48px;
  }
}
